body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f1f1f1;
    font-size: 16px;
}

#reports-list, #params-list {
    margin-left: 20px;
    padding: 20px 0;
}

#reports-list li a, header p small a {
    color: var(--secondary-bg);
    transition: all linear 0.2s;
    cursor: pointer;
}


#reports-list li a:hover, header p small a:hover {
    color: var(--primary-bg);
}

#reports-list li, #params-list li {
    font-size: 14px;
}

#params-list li, #reports-list li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#reports-list li svg, #params-list li svg {
    color: inherit;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#reports-list li svg path, #params-list li svg path {
    fill: currentColor;
}

#reports-list li:not(:first-of-type), #params-list li:not(:first-of-type)  {
    margin-top: 8px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3c3c3c;
    color: #fff;
    flex-wrap: wrap;
}

header img {
    height: 100px;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding-right: 8%;
}

header p small {
    margin-top: 10px;
    color: #a1a1a1;
}

main, #params {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#title {
    background-color: var(--primary-bg);
}

#params > p {
    background-color: var(--secondary-bg);
}

#params-list li span {
    margin-left: 5px;
    color: var(--primary-bg);
    font-weight: bold;
}

#title, #params > p {
    width: 100%;
    padding: 5px 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

@media only screen and (max-width: 780px) {

    header img {
        height: 60px;
    }

    header img:first-child {
        order: 1;
    }

    header img:last-child {
        order: 2;
    }

    header p {
        padding: 0;
        margin: 20px 0;
        order: 3;
    }
}