* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2cm 1cm;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li {
    font-family: "Monospace", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    list-style: none;
    width: 100%;
}